<!-- Archivo: phpunit.xml -->

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Pruebas">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Otras configuraciones de PHPUnit si las necesitas -->

    <php>
        <env name="APP_ENV" value="testing"/>
        <!-- Otras variables de entorno para pruebas -->
    </php>
</phpunit>
